<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="header">
<div class="header1">
    <a class="header1-text">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <h4 class="mytext1">   Hello {{username}}</h4>    
    </a>
  </div>
<div class="header2">
    <a class="header2-text">
        <img src="../../assets/FIL_Logo.png" alt="FIL Logo" class="fil-logo"><h4 class="mytext2"> {{ appname }}</h4>    
    </a>
</div>
</div>