.homepage input[type=text] {
    padding: 0.4% 0.4% 0.3% 0.4%;/* this padding for text field is padding of text within text box*/
    height: 2%;
    width: 40%;    
    margin: 8% 0 0 3.1%;/*margins for text box*/
    font-size: 17px;
    border: 1px solid rgb(185, 176, 176);
    border-radius: 4px;
}

.input-dropdown {
    margin: 0 30px 0 0;
    width: 350px;
    /* set the width of the input and dropdown */
  }
  
.input-dropdown input[type='text'] {
    font-size: 15px;
    padding: 5px;
  }
  
.input-dropdown ul > li {
    transition: background .15s;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.firstcomponent{   
    margin: 8% 0% 0% 4%;
    display: inline;
    border: black;
}

.inputsearchbox{
    position: relative;
    margin: 2% 0% 0% 4%;
    padding: .3% .3% .3% .3%;  
    border: black;
    font-size: 17px;
}
.dropdown-shadow{
    position: relative;
    margin: 4% 0% 0% 4%;
    box-shadow: 0px 8px, 16px 0px;
    font-weight: normal; 
    max-width: 400px;
    background-color: #f9f9f9;
    padding: .3% .3% .3% .3%;  
    z-index: 1;
}

.mylist{
    position: relative;
    display: block;
}